<br>
Select Topic Name: <br>
<select [(ngModel)]="selectedTopic">
  <Option disabled selected value>--Select--</Option>
  <Option *ngFor="let topic of AllTopicList">{{topic.topicName}}</Option>
</select>
<br>
<div *ngIf="selectedTopic.length!=0">
  Selected Topic Name : {{selectedTopic}}<br>
  Question ShortName : <br>
  <textarea rows="1" cols="45" [(ngModel)]="question.shortName"></textarea><br>
  Question Details : <br>
  <textarea rows="3" cols="45" [(ngModel)]="question.questionDetail"></textarea><br>
  Option A : <textarea rows="2" cols="35" [(ngModel)]="question.optionA"></textarea><br>
  Option B : <textarea rows="2" cols="35" [(ngModel)]="question.optionB"></textarea><br>
  Option C : <textarea rows="2" cols="35" [(ngModel)]="question.optionC"></textarea><br>
  Option D : <textarea rows="2" cols="35" [(ngModel)]="question.optionD"></textarea><br>

  Correct Answer :
  <select [(ngModel)]="question.correctAns">
    <option disabled selected value></option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
    <option>D</option>
  </select>
  <br>

  <button [disabled]="howToDisable()" (click)="addQuestion()">Add</button>
</div>
