<br>
<fieldset>
  <legend>Reset PassWord</legend>

  <br>
  <div *ngIf="setPassword==0">

    <div>
      <label>Username : </label>
      <input type="text" [(ngModel)]="username" placeholder="Enter Your Username">
    </div>
    <br>

    <button [disabled]="isDisable()==true" (click)="verifyUsername()">Next</button>
  </div>

  <div *ngIf="setPassword==1">

    <div>
      <label>Enter Your Old Password : </label>
      <input type="password" [(ngModel)]="password" placeholder="Enter Your Password">
    </div>
    <br>

    <button [disabled]="isDisable1()==true" (click)="verifyPassword()">Next</button>
  </div>

  <div *ngIf="setPassword==2">

    <div>
      <label>Enter New Password : </label>
      <input type="password" [(ngModel)]="newPassword" placeholder="Enter New PassWord">
    </div><br>

    <div>
      <label>Confirm New Password : </label>
      <input type="password" [(ngModel)]="confirmNewPassword" placeholder="Confirm New Password">
    </div><br>

    <button [disabled]="isDisable2()==true" (click)="resetPassword()">Change Password</button>
  </div>

</fieldset>
